[submodule "pyunicorn"]
	path = pyunicorn
	url = ../pyunicorn
[submodule "src/rqa/src/rqa/pyunicorn"]
	path = src/rqa/src/rqa/pyunicorn
	url = https://github.com/keriheuer/pyunicorn
[submodule "src/rqa/pyunicorn"]
	path = src/rqa/pyunicorn
	url = https://github.com/keriheuer/pyunicorn
